.allOrder{
    min-height: 700px;
    &__content{
        padding: 70px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &-title{
            font-family: $mont;
            font-size: 22px;
            margin-bottom: 50px;
        }
        table{
            margin-bottom: 50px;
            border-collapse: collapse; 
            font-family: $mont;
            width: 100%;
            th{
                text-align: left;
                padding: 10px;
            }
            td{
                padding: 20px;
            }
        }
        &-billBtn{
            background-color: $red;
            color: $white;
            padding: 8px 15px;
            border-radius: 18px;
            transition: all ease-in-out 0.2s;
            &:hover{
                background-color: rgb(206, 22, 22);
            }
        }
        &-body{
            background-color: rgb(255, 251, 251);
            border-bottom: 2px solid rgb(207, 199, 199);
        }
        &-header{
            background-color: $red;
            color: white;
            font-size: 16px;
        }
        .page{
            margin-top: 30px;
            text-align: center;
            font-family: $mont;
            nav{
                .pagination{
                    justify-content: center;
                    display: flex;
                    color: $white;
                    .page-item{
                        padding: 8px 10px;
                        background-color: $red;
                        &:nth-child(1){
                            margin-left: 20px;
                        }
                        &:nth-child(2){
                            margin-left: 15px;
                            margin-right: 10px;
                        }
                        &:nth-child(3){
                            margin-left: 10px;
                            margin-right: 15px;
                        }
                        &:nth-child(4){
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
        .w-5{
            display: none;
        }
        @include max-breakpoint(1200){
            overflow-x: scroll;
            overflow-y: hidden;
            table{
                width: 1200px;
                margin: auto;
            }
        }
    }
}